.cabecera {
    background-color: $header-bg-color;
}

.logo {
    max-width: 150px;
}

.nav-link {
    color: $primary-color !important;
    font-family: $font-family;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: $border-radius-medium;
    background-color: #ffffff;
    margin: 0 10px;
    transition: background-color $transition, color $transition;
}

.nav-link:hover {
    background-color: $primary-color !important;
    color: #ffffff !important;
}