//aca saco una prueba que hice para que caigan iconos en la parte izquierda y derecha
@media (max-width: 1550px) {
    .falling-icons {
        display: none;
    }
}


@media (max-width: 1200px) {
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }


}

@media (max-width: 992px) {

    .productos-personalizados-grid-container,
    .trabajos-realizados-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .trabajos-realizados-grid-container {
        grid-template-areas:
            "trabajo1 trabajo1"
            "trabajo2 trabajo2"
            "trabajo3 trabajo3"
            "trabajo4 trabajo4"
            "trabajo5 trabajo5"
            "trabajo6 trabajo6"
            "trabajo7 trabajo7";
    }
}

@media (max-width: 768px) {
    .cabecera img.logo {
        max-height: 60px;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }

    .productos-personalizados-grid-container,
    .trabajos-realizados-grid-container {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .productos-personalizados-grid-container {
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4";
    }
}

@media (max-width: 576px) {
    .cabecera {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cabecera img.logo {
        max-height: 50px;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }
}